/* * { outline: solid red 1px; }  */

.container {
    margin: auto auto;
    padding: 0 0px;
    box-sizing: border-box;
}

#list_of_pages{
    margin: auto 10px;
    text-align: center;
    overflow: hidden;
    height: 100%;
}

#list_of_pages ul{
    padding-left: 0px;
    margin: 10px auto;
}

#list_of_pages li{
    display: inline;
    font-size: 20px;
    font-weight: bold;
    color: #E9967A;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #fff;
    padding: 3px;
    width: 100%;
    text-align: center;
    margin-right: 10px;
    border: 1px dashed #E9967A;
    cursor: pointer;
}

.about, .viewer {
    max-width: 500px;
    min-width: 320px;
    width: 100%;
    margin: 15px auto;
    background-color:#FAEBD7;
}

.about_cont, .viewer_cont {
    font-size: 20px;
    color: #FF8C00;
    padding:15px;
    text-align: center;
}

.about_cont > img {
    width: 150px;
    transition: all 500ms ease-in;
}

.img_about:active {
     transform: scale(4);
     transition: all 500ms ease-in;
}

.about_cont > img#butfly_about {
      width: 40px;
}

.viewer_cont > img {
     width: 10%;
     transition: all 500ms ease-in;
}

.mainpage {
      margin: auto auto;
      display:flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
}

.aside-left {
     flex-basis:310px;
     margin: 10px 5px;
     background: #FFB6C2;
}



.button-container  {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0 15px;
      justify-content: space-around;
      margin: 10px 0;
}

.rule-button {
    background: lightblue;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    line-height: 55px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    transition-duration: 0.2s;
    margin-bottom: 5px;
    margin-right:15px;
}
.rule-button:last-child {
    margin-right:0px;
}
.rule-button:hover{
    background-color: orange;
    color: yellow;
}

/* Центральная часть */
.field {
     flex-basis:650px;
     margin: 10px 5px;
     background: lightyellow;
}


.photo-field {
    width: 600px;
    height: 600px;
    margin: 35px auto;
  
    background:#FAEBD7;
}

.icon-example {
     width:90px;
     float: left;
     margin: 10px 0 10px 10px;
     display:flex;
     flex-wrap: wrap;
     flex-direction: column;
     justify-content: center;
}

.icon-button {
    background: #BFA696;
    border-radius: 5px 0 0 5px;
    text-align: center;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition-duration: 0.2s;
    padding: 20px 10px;
}

.icon-button p{
    text-align: center;
    font-size: 12px;
    color: white;
    margin: 5px 0 0 0 !important;
}

#icon-button-background {
    background: #A63B4C;
}

.tamplate-example{
     width:200px;
      float: left;
     margin: 10px 10px 10px 0;
     background: #A63B4C;
}

.for-draw, .for-background, .for-element, .for-text, .for-hand, .for-color {
     display:flex;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: center;
}

.background-column, .element-column, .text-column, .hand-column {
    margin: 0 0;
    flex-grow: 1;
}

.background {
    display:block;
    margin: 10px auto;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.template {
    display:block;
    margin: 10px auto;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.element {
    display:block;
    margin: 10px auto;
    width: 46px;
    height: 46px;
    border: 2px solid #d65a6f;
    cursor: pointer;
}

.text, .hand {
    display:block;
    margin: 10px auto;
    width: 46px;
    height: 46px;
    border: 2px solid #d65a6f;
    cursor: pointer;
}


.photo-field img {
     cursor: move;
}

.resize-container {
    position:absolute;
    border: 1px dashed lime;
    cursor:move;
}


#palette, #palette2 {
    padding: 0;
    margin: 6px 3px;
}

.button-draw {
    width: 30px;
    height: 30px;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
    border: solid 1px #fff;
}

#eraser {
    width: 30px;
    height: 30px;
    display: inline-block;
    padding: 3px;
    margin-right:5px;
    cursor: cursor;
    border: solid 1px #fff;
    border-radius:5px;
}

#img_eraser {
    cursor: default;
}

canvas {
    
}

#clear-canvas {
    display: block;
    background: #eee;
    color: #777;
    padding: 10px;
    border-radius:5px;
    font-size: 14px;
    width: 100px;
    text-align: center;
    margin: 5px auto;
    cursor: pointer;
}

#clear-background, #clear-element, #clear-text {
    display: block;
    background: #eee;
    color: #777;
    padding: 20px;
    border-radius:5px;
    font-size: 14px;
    width: 100px;
    text-align: center;
    line-height: 0px;
    margin: 5px auto;
    cursor: pointer;
}

.break {
    flex-basis: 50%;
    height: 0;
}

.static {
    cursor: not-allowed;
}

.draggable {
    cursor: move;
}

svg {
    position:absolute;
    max-width: 600px;
    max-height: 600px;
}

.highlight {
    position:absolute;
    border: 4px dashed blue;
    cursor:move;
}

#savePictureCont {
    position: absolute;
    background: #808080bd;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    text-align: center;
}

#savePictureCont  .fa-times-circle {
    font-size: 35px;
    color: red;
    margin-left: 10px;
    cursor: pointer;
}

#savePictureCont > img {
    width: 100%;
    height: auto;
    max-width: 500px;
}

#readyImgMsg {
    color: black;
    display: none;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    font-size: 20px;
    font-weight: bold;
}

#prepareImgMsg {
    display: block;
    font-size: 30px;
}

#viev-img {
    max-width: 501px;
    min-width: 300px;
    width: 100%;
    border-radius: 15px;
}

.view-control-cont {
    display: flex;
    justify-content: space-between;
}

.view-control-cont-wrapper {
    display: inline-block;
    margin: 0 auto;
}

#viewer-section {
    text-align: center;
    display: none;
    margin: 15px auto 0 auto;
    width: calc(100% - 10px);
}


@media (max-width: 1000px)  {
  .button-container {
    justify-content: center;
    margin: 10px 0 0 0;
  }
  .icon-example {
      width:600px;
      float: left;
      margin: 5px 10px 0px 10px;
      display:flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
  }
  .icon-button {
      width:75px;
      border-radius: 5px 5px 0 0;
      padding: 10px 5px;
  }
 
 .tamplate-example {
      width:600px;
      height: 230px;
      margin: 0px 10px 10px 10px;
 }
  .for-background, .for-element, .for-text, .for-hand {
      flex-direction: column;
      
  }
  .background-column, .element-column, .text-column, .hand-column {
      display:flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
  }
  .background, .element, .text, .hand {
    margin: 5px auto;
  }
  #clear-canvas {
    
  }  
  #palette, #palette2 {
    padding: 0;
    margin: 6px 3px;
  }
  .button-draw {
    width: 29px;
    height: 29px;
  }  
  .field {
    flex-basis: 620px;
    margin: 0;
  }
  .photo-field {
    width: 600px;
    height: 600px;
    margin: 10px 10px;
  }
}
@media (max-width: 630px){
.icon-example {
      width: 300px;
      float: left;
      margin: 5px 10px 0px 10px;
      display:flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
  }
  .icon-button {
      width:45px;
      border-radius: 5px 5px 0 0;
      padding: 1px 1px;
  }
 
 .tamplate-example {
      width:300px;
      height: 150px;
      margin: 0px 10px 10px 10px;
 }
.fa-2x {
    font-size: 0.8em;
}
.icon-button p {
    font-size: 10px;
    margin-top: 1px !important;
}    
.background {
    width: 30px;
    height: 30px;
  }
.element, .text, .hand {
    width: 28px;
    height: 28px;
    border: 1px solid #d65a6f;
  }
.button-draw {
    width: 12px;
    height: 12px;
  }
#clear-background, #clear-element, #clear-text {
    padding: 10px;
    font-size: 10px;
    width: 100px;
    margin: 5px auto;
}
#clear-canvas {
    padding: 2px;
    font-size: 10px;
    width: 100px;
    margin: 0px auto;
} 
#eraser {
    width: 10px;
    height: 10px;
    padding: 3px;
    margin-right: 5px;
}    
#SSS {
  max-width: 300px;
  max-height: 300px;

}
.rule-button {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 15px;
    margin-bottom: 5px;
    margin-right: 15px;
}
.field {
    flex-basis: 310px;
    margin: 0;
  }
  .photo-field {
    width: 300px;
    height: 300px;
    margin: 5px 5px;
  }
#list_of_pages li {
    font-size: 10px;
    padding: 3px;
    margin-right: 10px;
}
}
